<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skope.skope"
    android:versionCode="80"
    android:versionName="0.8.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <uses-sdk
        android:maxSdkVersion="11"
        android:minSdkVersion="8"
        android:targetSdkVersion="10" >
    </uses-sdk>

    <application
        android:name=".application.SkopeApplication"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Skope" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".ui.OOIListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name=".service.LocationService"
            android:description="@string/service_description"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="Skope" >
            <intent-filter>
                <action android:name="com.skope.skope.service.LocationService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.OOIListMapActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".ui.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainTabActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OOIDetailMapActivity" >
        </activity>
        <activity android:name=".ui.SkopePreferenceActivity" >
        </activity>
        <activity android:name=".ui.UserProfileActivity" >
        </activity>
        <activity android:name=".ui.UserPhotoActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".ui.UserSignupActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.UserFormActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>